.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.login-box{
display: flex;
align-items: center;
justify-content: center;
background-color: darkblue;
border-radius: 7px;
}
.login-inner-box {
  display: flex;
  flex-direction: column;  
  width: 90%;
  height: 90%;
}
.login-header{

}
.login-footer{
  display: flex;
  justify-content: center;
}
.login-form{
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  width: 150px;
}
#submit {
  border-radius: 7px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}
