.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}.links{
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(0, 139, 139, 0.527);
  border-radius: 5px;
}link{
  color: 
}body{
  background-color: rgba(0, 139, 139, 0.263);
}.login{
  margin: 85px 300px 10px 300px;
  padding: 10px 10px 30px 10px;
  background-color: rgba(0, 139, 139, 0.527);
  border-radius: 10px;
}#submit{
  border-radius: 7px;
  background-color:darkgray;
  cursor: pointer;
}