.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.login-box{
display: flex;
align-items: center;
justify-content: center;
background-color: darkblue;
border-radius: 7px;
height: 350px;
width: 350px;
}
.login-inner-box {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}
.login-welcome-title{

}
.login-form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 150px;
}
#submit {
  border-radius: 7px;
  background-color: rgb(169, 169, 169);
  cursor: pointer;
}
